<!DOCTYPE html>
<html class="js" lang="en-US">
<!--<![endif]-->

<!-- Mirrored from wiso-html.foxthemes.me/3d-cover.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 23 Sep 2021 07:17:53 GMT -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MEMEs</title>

    <link href="fonts/fonts.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/simple-line-icons.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/wiso.min.css">
    <link rel='stylesheet' href='css/magnific-popup.css' />
    <link rel="stylesheet" href="css/menu-item-item.css">
    <link rel="stylesheet" href="css/headings.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel='stylesheet' href='css/lightgallery.min.css' />
    <link rel='stylesheet' href='css/slick.css' />
    <link rel='stylesheet' href='css/banner_image.min.css' />
    <link rel='stylesheet' href='css/the-grid.min.css' />
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/cropped-cropped-fx_favicon-1-1-32x32.png" sizes="32x32">

    <script async src='cdn-cgi/challenge-platform/h/b/scripts/invisible.js'></script>
</head>

<body>
    <!-- MAIN_WRAPPER -->
    <div class="preloader-text">
        <div class="text-wrap">s</div>
        <span>loading...</span>
    </div>

    <div class="main-wrapper">
        <div class="container-full">
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="container-fluid top-banner top-banner__scene small_banner center_content simple">

                        <img src="images/ben-rosett-10611-unsplash.jpg" class="s-img-switch" alt="" /> <span
                            class="overlay"></span>
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3 class="title"> Memes </h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container ">
            <div
                class="row margin-lg-90t margin-lg-90b margin-md-70t margin-md-70b margin-sm-60t margin-sm-60b margin-xs-40t margin-xs-40b">
                <div class="col-sm-12 ">
                    <div class="row">
                        <!-- The Grid Plugin Version 2.6.0 -->
                        <!-- The Grid Wrapper Start -->
                        <div class="tg-grid-wrapper wiso-3d-cover  tg-txt full-height pad-lg-l-15" id="grid-3946"
                            data-version="2.6.0">
                            <!-- The Grid Styles -->
                            <div class="tg-grid-sizer"></div><!-- The Grid Gutter Sizer -->
                            <div class="tg-gutter-sizer"></div><!-- The Grid Items Holder -->
                            <div class="tg-grid-holder tg-layout-grid" data-name="Wiso 3d cover" data-style="grid"
                                data-row="1" data-layout="vertical" data-rtl="" data-fitrows="" data-filtercomb=""
                                data-filterlogic="AND" data-filterload="" data-sortbyload="" data-orderload="false"
                                data-fullwidth="" data-fullheight="null"
                                data-gutters="[[320,15],[480,15],[768,15],[980,15],[1200,15],[9999,15]]"
                                data-slider='{"itemNav":"null","swingSpeed":0.1,"cycleBy":"null","cycle":5000,"startAt":1}'
                                data-ratio="1.00" data-cols="[[320,1],[480,1],[768,1],[980,3],[1200,3],[9999,3]]"
                                data-rows="[[320,200],[480,200],[768,220],[980,220],[1200,240],[9999,240]]"
                                data-animation='{&quot;name&quot;:&quot;Fade in&quot;,&quot;visible&quot;:&quot;&quot;,&quot;hidden&quot;:&quot;&quot;}'
                                data-transition="700ms" data-ajaxmethod="load_more" data-ajaxdelay="100"
                                data-preloader="" data-itemdelay="100" data-gallery="" data-ajax="">
                                <!-- The Grid item #1 -->


                                <% for(var i=0; i <=5 ; i++){ %>

                                    <article class="tg-item tg-post-3809 tg-3d-cover f23" data-row="1" data-col="1">
                                        <div class="tg-item-inner">
                                            <div class="tg-item-media-holder tg-light">
                                                <div class="tg-item-media-inner">
                                                    <div class="tg-item-image">
                                                        <img src="<%= memes_rec.memes[i].url %>" class="s-img-switch"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div class="tg-item-media-content ">
                                                    <div class="tg-item-overlay"></div>
                                                    <div class="tg-center-holder">
                                                        <div class="tg-center-inner">
                                                            <h2 class="tg-item-title tg-element-3"><a target="_self"
                                                                    href="#">
                                                                    <%= memes_rec.memes[i].name %>
                                                                </a></h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>

                                    <% } %>

                            </div>
                        </div><!-- The Grid Wrapper End -->
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer" class=" modern">
            <div class="container">
                <div class="widg clearfix">
                    <div class="text-center" >
                        <a href="https://demoraja78.000webhostapp.com/cv-saifali/"><h4 style="color: white;">Saif Ali</h4></a>
                    </div>                        
                </div>
            </div>
        </footer>

    </div>

    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type='text/javascript' src='js/jquery-3.3.1.min.js'></script>
    <script type="text/javascript" src="js/foxlazy.min.js"></script>
    <script type='text/javascript' src='js/datepicker.min.js'></script>
    <script type='text/javascript' src='js/public.js'></script>
    <script type='text/javascript' src='js/lightgallery.min.js'></script>
    <script type='text/javascript' src='js/jquery.justifiedGallery.js'></script>
    <script type='text/javascript' src='js/jquery.fitvids.min.js'></script>
    <script type='text/javascript' src='js/imagesloaded.min.js'></script>
    <script type='text/javascript' src='js/script.js'></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script type="text/javascript" src="js/tg_global.js"></script>
    <script type='text/javascript' src='js/the-grid.min.js'></script>
    <script
        type="text/javascript">(function () { window['__CF$cv$params'] = { r: '6931f39cec1c31fa', m: 'yVgoKFl0ed3V04luNWEqCo9ToS9X166FZ8yNCnJTJDc-1632381009-0-AYDDIAbM3R6Na/oXJ95Z/+ETh7nMw0czfMORy7jziKF2vByhXHJmK7kKkMj6bVAjJvmTQcT5uW5OXlY21ezSzXMOu2/ngDv05SulZ3UZhqMlcYvXBxGPgky/48X4GpbmFQ==', s: [0xd96da2bb2c, 0x2784842158], u: '/cdn-cgi/challenge-platform/h/b' } })();</script>
</body>

<!-- Mirrored from wiso-html.foxthemes.me/3d-cover.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 23 Sep 2021 07:17:55 GMT -->

</html>